.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentArea {
  display: flex;
  flex: 1;
}

.mainContent {
  flex: 1;
  background-color: white;
  padding: 20px;
  overflow-y: auto;
}

