.estoque {
  margin-top: -40px;
  max-width: 1000px;
  padding: 20px;
  background-color: white;
  height: 100%;
  overflow-y: auto;
  font-family: sans-serif;
}

.estoque h3 {
  margin-top: 20px;
}

.estoque input, 
.estoque select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 1em;
}

.estoque select {
  margin-top: 50px;
  background-color: #7ed957;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.estoque .btnTabela {
  margin-left: 15px;
  padding: 4px 8px;
  font-size: 0.75rem;
  background-color: #003f1f;
  color: #7ed957; 
  border: none;
  border-radius: 6px; 
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  max-width: 100%;
  box-sizing: border-box;
}

.estoque .btnTabela:hover {
  background-color: #ffcb04;
  color: #003f1f;
}

.topo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.estoque table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #7ed957;
  border-radius: 12px;
  overflow: hidden;
  table-layout: fixed;
}

.estoque th, 
.estoque td {
  padding: 10px;
  text-align: left;
  border: 1px solid #7ed957;
}

.estoque th {
  background-color: #7ed957;
  color: #003f1f;
}

.estoque th:last-child, 
.estoque td:last-child {
  width: 80px;
}

.modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modalContent input,
.modalContent select {
  margin: 0;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.modalButtons button {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  font-weight: bold;
  background-color: #003f1f;
  color: #7ed957;
  border: none;
  transition: all 0.2s ease;
}

.modalButtons button:hover {
  background-color: #ffcb04;
  color: #003f1f;
}
