.fornecedores {
  max-width: 1000px;
  padding: 20px;
  background-color: white;
  height: 100%;
  overflow-y: auto;
  font-family: sans-serif;
}

.fornecedores h2 {
  color: #004d25;
  margin-bottom: 20px;
}

.fornecedores input {
  margin: 5px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.fornecedores button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  background-color: #003f1f;
  color: #7ed957;
  border-radius: 6px;
  cursor: pointer;
}

.fornecedores table {
  margin-top: 10px;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate; 
  border-spacing: 0; 
  border: 1px solid #7ed957; 
  border-radius: 12px;
  overflow: hidden; 
}

.fornecedores th,
.fornecedores td {
  padding: 10px;
  text-align: left;
  border: 1px solid #7ed957;
}

.fornecedores th:last-child,
.fornecedores td:last-child {
  width: 80px;
  
}

.fornecedores th {
  background-color: #7ed957;
  color: #003f1f;
}
