.SideBar {
  display: flex;
  background-color: #7ed957;
  flex-direction: column;
  max-width: 200px;
  padding: 20px;
  gap: 50px;
}

.button {
  color: #7ed957;
  background-color: #003f1f;
  border-radius: 30px;
  width: 200px;
  height: 60px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  display: block;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #ffcb04;
  color: #003f1f;
  cursor: pointer;
}

.active {
  background-color: #ffcb04;
  color: #003f1f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}
